{% extends 'base.html.twig' %}

{% block title %}Flammeo | Cart{% endblock %}

{% block body %}
    <style>
        .example-wrapper {margin:1rem auto; max-width: 1235px; width: 95%; font: 18px/1.5 sans-serif;display: flex; align-items: center; flex-direction: column; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    {# if token #}
    <div class="example-wrapper">
        <h1>Your cart</h1>

        {% if products is empty %}
            <p>Your cart is empty.</p>
        {% else %}
            <ul>
                {% for product in products %}
                    <li style="margin:20px">
                        <img src="{{ product.getImage() }}" alt="{{ product.getName() }}">
                        <div class="product-name">{{ product.getName() }}</div>
                        <div class="product-price">{{ product.getPrice() }}€</div>
                        <a href="{{ path('cart_remove', {id: product.getId()}) }}" class="btn-remove">Remove this item</a>
                    </li>
                {% endfor %}
            </ul>
            <a href="https://www.paypal.com/fr/home" class="btn-pay">Pay {{ totalPrice }}€</a>
        {% endif %}
        {# else #}
            <!-- <h1> You must authenticate to access your cart</h1>-->
    {# endif #}
    </div>

{% endblock %}