{% extends 'base.html.twig' %}

{% block title %}Flammeo | Register{% endblock %}

{% block body %}
    <style>
        h1 {
            font-size: 2.5rem;
            color: #333;
            margin-bottom: 20px;
            text-align: center;
            margin-top: 40px;
        }

        .example-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 25%;
  background-color: white;
  border-radius: 25px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

        .form-container {
            display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 93vh;
        }



        /* Espacement entre les éléments du formulaire */
        form div {
            margin-bottom: 25px;
        }

        label {
            font-size: 1rem;
            color: #555;
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        input {
            width: 100%;
            padding: 12px;
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 6px;
            box-sizing: border-box;
            transition: border-color 0.3s, box-shadow 0.3s;
        }

        /* Effet focus pour les champs de saisie */
        input:focus {
            border-color: #007bff;
            outline: none;
            box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
        }

        

        /* Effet au survol et au clic du bouton */
        button:hover {
            background-color: #0056b3;
        }

        button:active {
            transform: scale(0.98);
        }
    </style>




<div class="form-container">
    <div class="example-wrapper">
    <h1>Register</h1>
        {{ form_start(form) }}
        {{ form_row(form.name, {'attr': {'placeholder': 'Enter your name'}}) }}
        {{ form_row(form.email, {'attr': {'placeholder': 'Enter your email'}}) }}
        {{ form_row(form.password, {'attr': {'placeholder': 'Enter your password'}}) }}

        <button type="submit" class="btn-custom">REGISTER</button>
        {{ form_end(form) }}
    </div>
    </div>

{% endblock %}

